.nav {
  position: fixed; /* 하단에 네비게이션바 고정(광고창효과) */
  bottom: 0;
  width: 100%;
  background-color: rgba(236, 236, 237, 0.5);
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__threedat {
  display: flex;
  width: 6px;
  height: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  bottom: 26px;

  background-color: rgba(238, 71, 56, 0.938);
}
